<h4>Test</h4>
<div class="separation"></div>
<table>
    <tr>
        <td class="col-left">
            <label>{l s='Our New Field:'}</label>
        </td>
        <td>
            Test a Moi
        </td>
    </tr>
</table>